@model RoleViewModel

<form method="post">
  <input hidden="true" asp-for="@Model.ReturnUrl">
  <div class="mb-3">
    <label asp-for="@Model.UserName" class="form-label">Username</label>
    <input type="text" asp-for="@Model.UserName" class="form-control" placeholder="UserName">
  </div>
  <div class="mb-3">
    <label asp-for="@Model.RoleName" class="form-label">RoleName</label>
    <input type="RoleName" asp-for="@Model.RoleName" class="form-control">
  </div>
  <div class="mb-3">
    <label asp-for="@Model.Password" class="form-label">Password</label>
    <input type="password" asp-for="@Model.Password" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">CreateMember</button>
</form>