@model StudentViewModel

<h1>CreateStudent</h1>
<form method="post">
  @* <input hidden="true" asp-for="@Model"> *@
  <div class="mb-3">
    <label asp-for="@Model.Name" class="form-label">Name</label>
    <input type="Name" asp-for="@Model.Name" class="form-control" placeholder="Name">
  </div>
  <div class="mb-3">
    <label asp-for="@Model.Age" class="form-label">Age</label>
    <input type="text" asp-for="@Model.Age" class="form-control" placeholder="Age">
  </div>
  <div class="mb-3">
    <label asp-for="@Model.Adress" class="form-label">Adress</label>
    <input type="Adress" asp-for="@Model.Adress" class="form-control" placeholder="Adress">
  </div>
  <div class="mb-3">
    <label asp-for="@Model.CourseNames" class="form-label">CourseName</label>
    <input type="CourseNames" asp-for="@Model.CourseNames" class="form-control" placeholder="CourseName">
  </div>
    
  <button type="submit" class="btn btn-primary">Create</button>
</form>